In [2]:
##    PHASE 1
#  I TAKE DATA FROM MANY OTHER SOURSES WHICH I AM GOING TO DEFINING BELOW.
#  1- THE POPULATION OF EACH STATE--(TAKEN FROM WIKIPIEDIA IN 2011  "https://en.wikipedia.org/wiki/List_of_states_in_India_by_past_population")
#  2-LITRACY RATE IN EACH STATE--(TAKEN FROM CENSUS DATA IN 2011   "https://www.census2011.co.in/states.php")
#  3-AREA OF EACH STATE --(TAKEN FROM CENCUS DATA IN 2011  "https://www.census2011.co.in/states.php")
# 4 -CRIME RATE YEAR WISE --(I FOUND IT FROM DATA SET WHICH I GOT FROM MY LMS)
# 5- I PREPARE DATA SET MANUALLY ,I COVERED MOST OF THE POINTS AND I AM ATTACHING THAT DATA SET BELOW

import numpy as np
import pandas as pd

df = pd.read_excel("mydata.xlsx")
df.head()

,STATE_UT,POPULATION_IN_THOUSAND,LITRACY_RATE_IN%,AREA_KM_SQURE,CRIME_2001,CRIME_2002,CRIME_2003,CRIME_2004,CRIME_2005,CRIME_2006,CRIME_2007,CRIME_2008,CRIME_2009,CRIME_2010,CRIME_2011,CRIME_2012,TOTAL_CRIME
0,A & N ISLANDS,326,86.63,8249,658,608,644,748,682,676,807,882,941,980,793,683,9102
1,ANDHRA PRADESH,76210,67.02,275045,130089,143610,156951,158756,157123,173909,175087,179275,180441,181438,189780,192522,2018981
2,ARUNACHAL PRADESH,1098,65.38,83743,2342,2228,2061,2256,2304,2294,2286,2374,2362,2439,2286,2420,27652
3,ASSAM,26656,72.19,78438,36877,36346,38195,40675,42006,43673,45282,53333,55313,61668,66714,77682,597764
4,BIHAR,82999,61.80,94163,88432,94040,92263,108060,97850,100665,109420,122669,122931,127453,135896,146614,1346293